body {
	background-color: rgb(41, 40, 39);
	font-family: sans-serif;
}

nav {
	background-color: black;
	margin: 15px;
	padding: 5px;
}

.nav {
	color: white;
	/*font-family: monospace;*/
	font-size: 25px;
	font-style: bold;
	text-decoration: none;
	line-height: 30px;
}

a {
	text-decoration: none;
}

a:hover {
	color: black;
	background-color: white;
}
button {
	background-color: rgba(38, 255, 129, 1);
}

.indent {
	margin-left: 40px;
}

li a {
	color: rgba(255, 148, 210, 1);
	font-weight: bold;
}

p {
	font-size: 12pt;
	color: white;
	text-align: justify;
}

p, h1, h2, h3, section ul, table {
	margin-left: 200px;
	margin-right: 200px
}

.submit {
    display: flex;
    justify-content: flex-end;
}

h1 {
	color: rgba(189, 235, 52, 1);
}

h2, h3, caption {
	font-family: sans-serif;
	color: rgba(43, 208, 217, 1);
}

#table {
	background-color: rgba(224, 222, 222, 1);
	font-size: 15pt;
	text-align: center;
	margin-right: 200px;
	margin-left: 200px;
	width: 60%;
}

table caption {
	background-color: rgba(31, 222, 161, 1);
	color: black;
}

label, input, .gender {
	color: rgba(255, 129, 61, 1);
}

footer, footer a, footer a:hover {
	background-color: black;
	color: white
}

footer a:hover {
	text-decoration: underline;
}

footer i {
	margin-bottom: 5px;
	margin-top: 5px;
}