body {
	background-color: rgb(41, 40, 39);
	font-family: sans-serif;
}

header {
	background-color: black;
}


a {
	text-decoration: none;
}

a:hover {
	color: white;
	background-color: darkgreen;
}

#logo {
	float: left;
	height: 80px;
	position: absolute;
	margin: 10px;
	margin-left: 20px;
}

header h1 {
	font-size: 400%;
	font-family: sans-serif;
	background-color: white;
	color: black;
	line-height: 100px;
	margin-bottom: 0px;
	text-align: center;
}

#web, #web:hover {
	background-color: white;
	color: rgba(94, 19, 99, 1);
}


nav {
	margin: 15px;
	padding: 5px;
}

.nav {
	color: white;
	/*font-family: monospace;*/
	font-size: 25px;
	font-style: bold;
	text-decoration: none;
	line-height: 25px;
	padding: 15px;
}

button {
	background-color: rgba(38, 255, 129, 1);
}

.indent {
	margin-left: 40px;
}

li a {
	color: rgba(255, 148, 210, 1);
	font-weight: bold;
}

p {
	font-size: 12pt;
	color: white;
	text-align: justify;
}

p, h2, h3, section ul, table {
	margin-left: 200px;
	margin-right: 200px
}

.submit {
    display: flex;
    justify-content: flex-end;
}


h2, h3, caption {
	font-family: sans-serif;
	color: rgba(43, 208, 217, 1);
}

#table {
	background-color: rgba(224, 222, 222, 1);
	font-size: 15pt;
	text-align: center;
	margin-right: 200px;
	margin-left: 200px;
	width: 60%;
}

table caption {
	background-color: rgba(31, 222, 161, 1);
	color: black;
}

label, input, .gender {
	color: rgba(255, 129, 61, 1);
}

footer, footer a, footer a:hover {
	background-color: black;
	color: white
}

footer a:hover {
	text-decoration: underline;
}

footer i {
	margin-bottom: 5px;
	margin-top: 5px;
}

footer li {
	list-style: none;
}